.venv/
venv/
__pycache__/
*.pyc

data/
benchmark_data/
compare_*/
single_case_*/
isomorphic_stress_results/
insane_iso_stress/
random_vf2_results/
insane_random_vf2/
random_density_confusion_results/
large/
*_matrix_viewer.html
.DS_Store

isomorphism_report.html
isomorphism_report.json
comparison_report.html
matrix_viewer.html
*.aux
*.log
*.out
*.toc
*.synctex.gz
